{% load static %}

<head>

</head>
<body style="background-color: #95c2de;">
    <div style="background-color: #95c2de; margin: auto; height: 600px; width: 600px; position: relative;">
      <div style="color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%; ext-decoration: none;
      color: white;
      top: 8%;">4</div>
      <div style="color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 44%; ext-decoration: none;
      color: white;
      top: 8%;">0</div>
      <div style="color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%; ext-decoration: none;
      color: white;
      top: 8%;">4</div>
      <div style="text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%; 
      width: 75%;">Opa, foi mal! Ainda estamos desenvolvendo essa pagina, em breve tudo estará a sua disposição!<p>Clique <a style="color: white; text-decoration: underline;" href="/"> aqui </a> para voltar</p></div>
        </div>