{% extends "base.html" %}
{% load static %}

{% block content%}

     <!-- Breadcrumbs-->
  <section class="breadcrumbs-custom bg-image" style="background-image: url(images/breadcrumbs-image1.jpg;">
    <div class="shell">
      <h1 class="breadcrumbs-custom__title">Acessórios</h1>
      <ul class="breadcrumbs-custom__path">
        <li><a href="bugs">Home</a></li>
        <li class="active">Acessórios</li>
      </ul>
    </div>
  </section>


  <div class="container-fluid med" id="itens"> 
      <div class="margin-left">
        <div class="col-sm-4">
          <a href="produto1.html"><img class="img-centered" src="{% static 'images/acessorio-3.jpg' %}" width="400" height="327" role="img"/></a>
          <p class="text-center-item" >Nome do item</p>
          <p class="text-center"> Descrição do item</p>
        </div>
        <div class="col-sm-4">
          <a href="produto1.html"><img class="img-centered" src="{% static 'images/acessorio-3.jpg' %}" width="400" height="327" role="img"/></a>
          <p class="text-center-item" >Nome do item</p>
          <p class="text-center"> Descrição do item</p>
        </div>
        <div class="col-sm-4">
          <a href="produto1.html"><img class="img-centered" src="{% static 'images/acessorio-3.jpg' %}" width="400" height="327" role="img"/></a>
          <p class="text-center-item" >Nome do item</p>
          <p class="text-center"> Descrição do item</p>
        </div>
      </div>
  </div>
  <div class="container-fluid med" id="itens"> 
      <div class="margin-left">
        <div class="col-sm-4">
          <a href="produto1.html"><img class="img-centered" src="{% static 'images/acessorio-3.jpg' %}" width="400" height="327" role="img"/></a>
          <p class="text-center-item" >Nome do item</p>
          <p class="text-center"> Descrição do item</p>
        </div>
        <div class="col-sm-4">
          <a href="produto1.html"><img class="img-centered" src="{% static 'images/acessorio-3.jpg' %}" width="400" height="327" role="img"/></a>
          <p class="text-center-item" >Nome do item</p>
          <p class="text-center"> Descrição do item</p>
        </div>
        <div class="col-sm-4">
          <a href="produto1.html"><img class="img-centered" src="{% static 'images/acessorio-3.jpg' %}" width="400" height="327" role="img"/></a>
          <p class="text-center-item" >Nome do item</p>
          <p class="text-center"> Descrição do item</p>
        </div>
      </div>
  </div>

{% endblock content %}

